#rainbow-block {
    height: 100px;
    background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
    width: auto;
}

#horn-block {
    position:relative;
    width: 0;
    bottom: 40px;
    left: 100px;
    border-bottom: 100px solid gray;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
}
