html {
    font-family: Verdana;
    font-weight: 800;
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card1, .card2, .card3, .card4 {
    display: block;
    position: relative;
    margin: 50px;
    width: 270px;
    height: 140px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px;
}

img {
    bottom: 0px;
    left: 5px;
    position: absolute;
    height: 182px;
}

#www {
    top: 0;
    left: 5px;
    position: absolute;
    height: 182px;
}

p {
    position: relative;
    font-size: 12px;
    top: 10px;
    margin: 2px;
    padding-right: 10px;
    text-align: right;
    color: rgb(255, 255, 255);
}

#subtext {
    color: rgba(255, 255, 255, 0.5);
    font-size: 9px;
}

.card1 {
    background: linear-gradient(#4568DC, #B06AB3);
}

.card2 {
    background: linear-gradient(#e52d27, #b31217);
}

.card3 {
    background: linear-gradient(-270deg, #000, #61045F);
}

.card4 {
    background: linear-gradient(#e52d27, #000);
}