<%- include("./partials/header") %>
<div class="wrapper" >
<div  class="container mf-5">
    <h1 class="name">Welcome to Marvel Memory Game!</h1>
    <a href="/login" class="btn btn-primary lg">Login</a>
    <a href="/register" class="btn btn-danger rg">Register</a>
    <div class="bg"></div>
</div>
</div>

<%- include("./partials/footer") %>